<p>add-users works!</p>
<table>

    <tr>
      <td>
        <label class="form-label" for="userName">User Name</label>
      </td>
      <td>
        <input formControlName="name"  type="text" id="userName" class="form-control" />
      </td>
    </tr>
    <tr>
        <td>
          <label class="form-label" for="email">email</label>
        </td>
        <td>
          <input formControlName="name"  type="text" id="email" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label" for="roomNum">Room Number</label>
        </td>
        <td>
          <input formControlName="name"  type="text" id="roomNum" class="form-control" />
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label" for="form2Example1">User Picture</label>
        </td>
        <td>
          <input type="file" name="" id="userImg">
        </td>
      </tr>
      <button type="submit"   class="btn btn-success"> Submit</button>
    <button type="reset" class="btn btn-danger"> Rest</button>
</table>    