/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Fredoka+One&display=swap');

body {
    background-image: url("./assets/organic-roasted-coffee-beans-table_23-2148336773.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-attachment: fixed;
}

.head {
    font-family: 'Berkshire Swash', cursive;

}

* {
    font-family: 'Fredoka One', cursive;
}